* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

.particle {
  --size: 10px;
  --top: 0px;
  --left: 0px;
  --speed: 0;
  
  position: absolute;
  width: var(--size);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #000000;
  top: var(--top);
  left: var(--left);
  transition: top 0.1s, left 0.1s;
}